apiVersion: apps/v1
kind: Deployment
metadata:
  name: mydeploy
spec:
  replicas: 2
  selector:
    matchLabels:
      app: box
  template:
    metadata:
      labels:
        app: box
    spec:
      containers:
        - name: mycont-1
          image: shaikmustafa/paytm:movie
          ports:
          - containerPort: 80
         
